---
realm: example
clients:
  - clientId: sbaa
    name: 'Starting Blocks Admin App'
    enabled: true
    rootUrl: http://localhost:3333
    adminUrl: http://localhost:3333
    baseUrl: http://localhost:3333
    clientAuthenticatorType: client-secret
    secret: big-secret-123
    redirectUris:
      - http://localhost:3333/api/auth/callback/1
    webOrigins:
      - http://localhost:4200
    protocolMappers:
      - name: Impersonator Username
        protocol: openid-connect
        protocolMapper: oidc-usersessionmodel-note-mapper
        consentRequired: false
        config:
          user.session.note: IMPERSONATOR_USERNAME
          id.token.claim: 'true'
          access.token.claim: 'true'
          claim.name: impersonator.username
          jsonType.label: String
