version: '3.8'

services:
  # Edfi v7.x
  v7-db-ods-tenant1:
    image: edfialliance/ods-api-db-ods-minimal:${ODS_TAG_7X}
    environment:
      POSTGRES_USER: '${POSTGRES_USER}'
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD}'
      TPDM_ENABLED: '${TPDM_ENABLED:-true}'
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready  -U ${POSTGRES_USER}']
      start_period: 30s
      retries: 30
      interval: 3s

  v7-db-ods-tenant2:
    image: edfialliance/ods-api-db-ods-minimal:${ODS_TAG_7X}
    environment:
      POSTGRES_USER: '${POSTGRES_USER}'
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD}'
      TPDM_ENABLED: '${TPDM_ENABLED:-true}'
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready  -U ${POSTGRES_USER}']
      start_period: 30s
      retries: 30
      interval: 3s

  v7-db-admin-tenant1:
    image: edfialliance/ods-admin-api-db:${ADMIN_TAG_7X}
    environment:
      POSTGRES_USER: '${POSTGRES_USER}'
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD}'
      ODS_PGBOUNCER_PORT: 5432
      ODS_POSTGRES_HOST: v7-db-ods-tenant1
      NPG_POOLING_ENABLED: '${NPG_POOLING_ENABLED:-false}'
      NPG_API_MAX_POOL_SIZE_ODS: '${NPG_API_MAX_POOL_SIZE_ODS}'
      TENANT_IDENTIFIER: tenant1
    volumes:
      - ./bootstrap.sh:/docker-entrypoint-initdb.d/2-bootstrap.sh
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready  -U ${POSTGRES_USER}']
      start_period: 30s
      retries: 30
      interval: 3s

  v7-db-admin-tenant2:
    image: edfialliance/ods-admin-api-db:${ADMIN_TAG_7X}
    environment:
      POSTGRES_USER: '${POSTGRES_USER}'
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD}'
      ODS_PGBOUNCER_PORT: 5432
      ODS_POSTGRES_HOST: v7-db-ods-tenant2
      NPG_POOLING_ENABLED: '${NPG_POOLING_ENABLED:-false}'
      NPG_API_MAX_POOL_SIZE_ODS: '${NPG_API_MAX_POOL_SIZE_ODS}'
      TENANT_IDENTIFIER: tenant2
    volumes:
      - ./bootstrap.sh:/docker-entrypoint-initdb.d/2-bootstrap.sh
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready  -U ${POSTGRES_USER}']
      start_period: 30s
      retries: 30
      interval: 3s

  v7-nginx:
    image: edfialliance/ods-api-web-gateway:${GATEWAY_TAG_7X}
    environment:
      ODS_VIRTUAL_NAME: '${V7_ODS_VIRTUAL_NAME}'
      ADMIN_API_VIRTUAL_NAME: '${V7_ADMIN_API_VIRTUAL_NAME}'
    ports:
      - '4444:443'
    restart: always
    hostname: nginx
    volumes:
      - ./ssl:/ssl/
      - ./templates/:/etc/nginx/templates/
    depends_on:
      - v7-api
      - v7-adminapi

  v7-api:
    image: edfialliance/ods-api-web-api:${ODS_TAG_7X}
    environment:
      POSTGRES_USER: '${POSTGRES_USER}'
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD}'
      POSTGRES_PORT: 5432
      PATH_BASE: '${V7_ODS_VIRTUAL_NAME}'
      TPDM_ENABLED: '${TPDM_ENABLED:-true}'
      ODS_WAIT_POSTGRES_HOSTS: 'v7-db-ods-tenant1 v7-db-ods-tenant2 '
      API_HEALTHCHECK_TEST: ${V7_API_HEALTHCHECK_TEST}
      NPG_POOLING_ENABLED: '${NPG_POOLING_ENABLED:-false}'
      NPG_API_MAX_POOL_SIZE_ODS: '${NPG_API_MAX_POOL_SIZE_ODS}'
      NPG_API_MAX_POOL_SIZE_ADMIN: '${NPG_API_MAX_POOL_SIZE_ADMIN}'
      NPG_API_MAX_POOL_SIZE_SECURITY: '${NPG_API_MAX_POOL_SIZE_SECURITY}'
      NPG_API_MAX_POOL_SIZE_MASTER: '${NPG_API_MAX_POOL_SIZE_MASTER}'
      ODS_CONNECTION_STRING_ENCRYPTION_KEY: '${ODS_CONNECTION_STRING_ENCRYPTION_KEY}'
      ASPNETCORE_ENVIRONMENT: 'docker'
    volumes:
      - ${LOGS_FOLDER}:/app/logs
      - ./appsettings.dockertemplate.json:/app/appsettings.dockertemplate.json
    entrypoint: ['/bin/sh']
    command:
      [
        '-c',
        'envsubst < /app/appsettings.dockertemplate.json > /app/appsettings.docker.json && /app/run.sh',
      ]
    depends_on:
      - v7-db-ods-tenant1
      - v7-db-ods-tenant2
      - v7-db-admin-tenant1
      - v7-db-admin-tenant2
    restart: always
    hostname: api
    # # skip ODS API healthcheck for now because we don't use it
    # healthcheck:
    #   test: $$API_HEALTHCHECK_TEST
    #   start_period: 30s
    #   retries: 30
    #   interval: 3s

  v7-adminapi:
    image: edfialliance/ods-admin-api:${ADMIN_TAG_7X}
    environment:
      ADMIN_WAIT_POSTGRES_HOSTS: 'v7-db-admin-tenant1 v7-db-admin-tenant2 '
      POSTGRES_PORT: 5432
      POSTGRES_USER: '${POSTGRES_USER}'
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD}'
      DATABASEENGINE: 'PostgreSql'
      AUTHORITY: ${AUTHORITY}
      ISSUER_URL: ${ISSUER_URL}
      SIGNING_KEY: ${SIGNING_KEY}
      ADMIN_API_VIRTUAL_NAME: ${V7_ADMIN_API_VIRTUAL_NAME}
      ADMIN_API_HEALTHCHECK_TEST: ${V7_ADMIN_API_HEALTHCHECK_TEST}
      AppSettings__DefaultPageSizeOffset: ${PAGING_OFFSET:-0}
      AppSettings__DefaultPageSizeLimit: ${PAGING_LIMIT:-25}
      AppSettings__MultiTenancy: '${MULTITENANCY_ENABLED:-true}'
      ASPNETCORE_ENVIRONMENT: 'multitenantdocker'
      Authentication__AllowRegistration: 'true'
      SwaggerSettings__EnableSwagger: 'true'
      SwaggerSettings__DefaultTenant: ${SWAGGER_DEFAULT_TENANT:-tenant1}
    volumes:
      - ./appsettings.dockertemplate.json:/app/appsettings.dockertemplate.json
    entrypoint: ['/bin/sh']
    command:
      [
        '-c',
        'envsubst < /app/appsettings.dockertemplate.json > /app/appsettings.multitenantdocker.json && /app/run.sh',
      ]
    depends_on:
      - v7-db-admin-tenant1
      - v7-db-admin-tenant2
    restart: always
    hostname: ${V7_ADMIN_API_VIRTUAL_NAME}
    healthcheck:
      test: $$ADMIN_API_HEALTHCHECK_TEST
      start_period: 30s
      retries: 30
      interval: 3s

  # Edfi v6.x
  v6-db-admin:
    image: edfialliance/ods-admin-api-db:${ADMIN_TAG_6X}
    environment:
      POSTGRES_USER: '${POSTGRES_USER}'
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD}'
      API_MODE: DistrictSpecific
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready  -U ${POSTGRES_USER}']
      start_period: 30s
      retries: 30
      interval: 3s

  v6-nginx:
    image: edfialliance/ods-api-web-gateway:${GATEWAY_TAG_6X}
    environment:
      ADMIN_API_VIRTUAL_NAME: '${V6_ADMIN_API_VIRTUAL_NAME}'
      ODS_VIRTUAL_NAME: '${V6_ODS_VIRTUAL_NAME}'
    ports:
      - '4443:443'
    restart: always
    hostname: nginx
    volumes:
      - ./ssl:/ssl/
      - ./templates/:/etc/nginx/templates/
    depends_on:
      - v6-api
      - v6-adminapi

  v6-api:
    image: edfialliance/ods-api-web-api:${ODS_TAG_6X}
    environment:
      POSTGRES_USER: '${POSTGRES_USER}'
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD}'
      POSTGRES_PORT: 5432
      ODS_POSTGRES_HOST: EdFi_{0}
      ADMIN_POSTGRES_HOST: v6-db-admin
      API_MODE: DistrictSpecific
      ApiSettings__PathBase: '${V6_ODS_VIRTUAL_NAME}'
      TPDM_ENABLED: '${TPDM_ENABLED:-true}'
      ODS_WAIT_POSTGRES_HOSTS: 'v6-edfi-ods-255901 v6-edfi-ods-255902 '
      API_HEALTHCHECK_TEST: ${V6_API_HEALTHCHECK_TEST}
      NPG_POOLING_ENABLED: '${NPG_POOLING_ENABLED:-false}'
      NPG_API_MAX_POOL_SIZE_ODS: '${NPG_API_MAX_POOL_SIZE_ODS}'
      NPG_API_MAX_POOL_SIZE_ADMIN: '${NPG_API_MAX_POOL_SIZE_ADMIN}'
      NPG_API_MAX_POOL_SIZE_SECURITY: '${NPG_API_MAX_POOL_SIZE_SECURITY}'
      NPG_API_MAX_POOL_SIZE_MASTER: '${NPG_API_MAX_POOL_SIZE_MASTER}'
    volumes:
      - ${LOGS_FOLDER}:/app/logs
    depends_on:
      - v6-db-admin
      - v6-edfi-ods-255901
      - v6-edfi-ods-255902
    restart: always
    hostname: ${V6_ODS_VIRTUAL_NAME}
    # # skip ODS API healthcheck for now because we don't use it
    # healthcheck:
    #   test: $$API_HEALTHCHECK_TEST
    #   start_period: 30s
    #   retries: 30
    #   interval: 3s

  v6-edfi-ods-255901:
    image: edfialliance/ods-api-db-ods:${ODS_TAG_6X}
    environment:
      POSTGRES_USER: '${POSTGRES_USER}'
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD}'
      TPDM_ENABLED: '${TPDM_ENABLED:-true}'
      ODS_DB: 'EdFi_Ods_255901'
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready  -U ${POSTGRES_USER}']
      start_period: 30s
      retries: 30
      interval: 3s

  v6-edfi-ods-255902:
    image: edfialliance/ods-api-db-ods:${ODS_TAG_6X}
    environment:
      POSTGRES_USER: '${POSTGRES_USER}'
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD}'
      TPDM_ENABLED: '${TPDM_ENABLED:-true}'
      ODS_DB: 'EdFi_Ods_255902'
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready  -U ${POSTGRES_USER}']
      start_period: 30s
      retries: 30
      interval: 3s

  v6-adminapi:
    image: edfialliance/ods-admin-api:${ADMIN_TAG_6X}
    environment:
      ADMIN_POSTGRES_HOST: v6-db-admin
      POSTGRES_PORT: 5432
      POSTGRES_USER: '${POSTGRES_USER}'
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD}'
      DATABASEENGINE: 'PostgreSql'
      API_MODE: DistrictSpecific
      AUTHORITY: ${AUTHORITY}
      ISSUER_URL: ${ISSUER_URL}
      SIGNING_KEY: ${SIGNING_KEY}
      ODS_API_VERSION: ${ODS_API_VERSION_6X}
      ADMIN_API_VIRTUAL_NAME: ${V6_ADMIN_API_VIRTUAL_NAME}
      ADMIN_API_HEALTHCHECK_TEST: ${V6_ADMIN_API_HEALTHCHECK_TEST}
      API_INTERNAL_URL: ${API_INTERNAL_URL}
    depends_on:
      - v6-db-admin
    restart: always
    hostname: ${V6_ADMIN_API_VIRTUAL_NAME}
    healthcheck:
      test: $$ADMIN_API_HEALTHCHECK_TEST
      start_period: 30s
      retries: 30
      interval: 3s

  # Others
  memcached:
    image: memcached
    restart: always
    expose:
      - '11211'
  yopass:
    image: jhaals/yopass
    restart: always
    ports:
      - '8082:80'
    command: '--memcached=memcached:11211 --port 80'
  db:
    image: postgres:14
    ports:
      - 3305:5432
    environment:
      POSTGRES_USER: sbaa
      POSTGRES_DB: sbaa
      POSTGRES_PASSWORD: dev
    volumes:
      - ./test-populate.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      # the docker image immediately does a hard restart so we have to check a couple times
      test: 'pg_isready -d sbaa -U sbaa && sleep 1 && pg_isready -d sbaa -U sbaa && sleep 1 && pg_isready -d sbaa -U sbaa && sleep 1 && pg_isready -d sbaa -U sbaa'
      start_period: 30s
      retries: 30
      interval: 3s
