name: Test

on:
  pull_request:
    branches: [main, develop]
    paths:
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig.json'
      - 'tsconfig.build.json'
      - 'src/**'
      - 'e2e/**'
      - '.github/workflows/test.yml'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        package: [api, fe, models-server, utils]

    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          # cache: 'npm'

      - name: Download dependencies
        uses: bahmutov/npm-install@v1
        with:
          install-command: npm ci --legacy-peer-deps

      - name: ${{ matrix.package}}
        run: npm run test:${{ matrix.package}}
